@model ExpedienteModel
@{
    ViewData["Title"] = "Borrar Expediente";

}

<div class="mb-3">
    ¿Estas seguro que deseas borrar el Expediente?
</div>

<form asp-controller="Expedientes" asp-action="ExpedienteDelete">
    <button type="summit" class="btn btn-danger" asp-action="ExpedienteDelete" asp-controller="Expedientes">Borrar</button>
    <a asp-controller="Expedientes" asp-action="ExpedienteList" class="btn btn-secundary">Regresar</a>
</form>